<tr *ngIf="p">
  <td>{{p.id}}</td>
  <td>{{p.name}}</td>
  <td>{{p.price}}</td>
  <td>{{p.quantity}}</td>
  <td>{{p.selected}}</td>
  <td><span [ngClass]="p.available?'fa fa-check text-success':''" class=""> </span></td>
  <td>
    <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-success':'btn-danger'" class="btn">
      <span *ngIf="p.selected">Unselect</span>
      <span *ngIf="!p.selected">Select</span>
    </button>
  </td>
  <td>
    <button class="btn btn-danger" (click)="onDelete(p)">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-info" (click)="onEdit(p)">
      <span class="fa fa-edit"></span>
    </button>
  </td>
</tr>
