
<div class="container" >

  <ng-container *ngIf="state">

      <ng-container *ngIf="state.dataState==ProductStateEnum.LOADING">
        LOADING ...
      </ng-container>
      <ng-container *ngIf="state.dataState==ProductStateEnum.ERROR">
        <div class="alert-danger">
          {{state.errorMessage}}
        </div>
      </ng-container>
      <ng-container *ngIf="state.dataState==ProductStateEnum.UPDATED">
        <div class="alert-success container p-3 m-3">
          <span>Product updated successfully</span>
          <button class="btn btn-success m-3" (click)="okUpdated()">Okey</button>

        </div>
      </ng-container>
      <ng-container *ngIf="state.dataState==ProductStateEnum.LOADED">
        <ng-container *ngIf="formBuilt">
        <form [formGroup]="productFormGroup" (ngSubmit)="onUpdateProduct()">
          <div class="">
              <label for="id"> ID : </label>
            <label>  {{productFormGroup.controls['id'].value}}</label>
            <input type="hidden" formControlName="id" id="id"/>
          </div>
          <div class="">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name"
                   [ngClass]="{'is-invalid':submitted && productFormGroup.controls['name'].errors}"/>
            <div *ngIf="submitted && productFormGroup.controls['name'].errors" class="invalid-feedback">
              <div *ngIf="productFormGroup.controls['name'].errors['required']">Name is required</div>
            </div>
          </div>
          <div class="">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price"/>
          </div>
          <div class="">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="quantity"/>
          </div>
          <div class="">
            <label>Selected</label>
            <input type="checkbox" class="form-check" formControlName="selected"/>
          </div>
          <div class="">
            <label>Available</label>
            <input type="checkbox" class="form-check" formControlName="available"/>
          </div>
          <button  class="btn btn-success" >Save</button>
        </form>
        </ng-container>
      </ng-container>

    </ng-container>




</div>
